<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Megafono Home</title>
  </head>
  <body>
    <h1>Megafono Homepage</h1>
        <% if (!user) { %>
        <a href="/auth/google">login con google</a>
        <% } else{ %>
        <li><a href="/chat">Get in Chat!</a> </li>
        <li><a href="/auth/profile">Profilo</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        <% } %>
  </body>
</html>
