<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>RabbitMQ chat position</title>
  </head>
  <body>
    <h1>You need to send your position to continue</h1>
    <button type="button" onclick="getPosition()" name="button">Get Position</button>
    <script>
    function getPosition(){
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
        function showPosition(position){
          $.ajax({
            type: 'POST',
            url: '/rabbit/position',
            mimeType: 'text/html',
            data: position,
            success: function(err, response){
              console.log(position);
              window.location.replace("/chat");
            }
          });
        };
      }else {
        alert("Geolocation is not supported by browser");
      };
    };
    </script>
  </body>
</html>
