<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    <h1>Benvenuto nel tuo profilo <%=user.username%></h1>
    <img src="<%= user.thumbnail%>" />
    <a href="/auth/logout">Logout</a>
    <a href="/">Home</a>
  </body>
</html>
